 *{
    text-decoration: none;
    font-family: system-ui;

    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

 }
:root{

    --bg:#0b0f2b;

}

body{
    background-color: var(--bg);
}

header, main, footer, nav{

border: 1px#0b0f2b;
padding: 3%;
min-height: 10vh;
background-color: var(--bg);
    color: rgb(255, 255, 255);
}

a{
        color: rgb(255, 255, 255);
}



.sagiMain{
 /* klass för main-elementet på sidan sagi.html */
}
.index nav{

    display: grid;
    gap: 30px;
}

.sagi nav{
    padding: 0;
}
header{

    text-align: center;
      background: #10153a;
      padding: 30px;
}



.card, .imgBox{

    padding: 1%;
    border-radius: 15px;
   
}
.imgBox{
    aspect-ratio: 1/1;
}

.card{
    text-align: center;
    background: #121638;
     color: white;
     text-decoration: none;
    display: block;
}

img{
width: 100%;  /* Inställning som gäller alla bilder */
border-radius: 15px;
transition: all 1s;
}

.imgBox img:hover{
    border-radius: 50px;
}


.imgBox img{
    /* Inställningar som gäller alla bilder som ligger i en låda som tillhör klassen imgBox */
    height: 100%;
    object-fit: cover;
}

@media(min-width:600px){

  nav{
       grid-template-columns: 1fr 1fr;
        place-items: center;

    }

    .indexMain{
        
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;

    }

}



footer{
    border: 3px solid#10153a;
}

.sagiMain{
    min-height: 60vh;
    place-items: center;
}

.sagiMain div{

    display: grid;
}





