 *{
    text-decoration: none;
    font-family: system-ui;
    color: black;
    scroll-behavior: smooth;
 }


header, main, footer, nav{

border: 1px solid black;
padding: 3%;
min-height: 10vh;

}

main{
    min-height: 100vh;

}
.sagiMain{
 /* klass för main-elementet på sidan sagi.html */
}
nav{

    display: grid;
    gap: 30px;
}

.card .imgBox div h3{
place-items: center;


}
.card, .imgBox{

    padding: 2%;
    border: 1px solid black;
}
.imgBox{
    aspect-ratio: 1/1;
}

.card{
    text-align: center;
}

img{
width: 100%;  /* Inställning som gäller alla bilder */
}


.imgBox img{
    /* Inställningar som gäller alla bilder som ligger i en låda som tillhör klassen imgBox */
    height: 100%;
    object-fit: cover;
}

@media(min-width:600px){

  nav{
       grid-template-columns: 1fr 1fr;
        place-items: center;

    }




}

  



