 *{
    text-decoration: none;
    font-family: system-ui;
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    

 }


header, main, footer, nav{

border: 1px#0b0f2b;
padding: 3%;
min-height: 10vh;
background-color: #0b0f2b;

}




main{
   

}
.sagiMain{
 /* klass för main-elementet på sidan sagi.html */
}
nav{

    display: grid;
    gap: 30px;
}


header{

    text-align: center;
      background: #10153a;
      padding: 30px;
}



.card, .imgBox{

    padding: 1%;
    border-radius: 15px;
   
}
.imgBox{
    aspect-ratio: 1/1;
}

.card{
    text-align: center;
    background: #121638;
     color: white;
     text-decoration: none;
    
}

img{
width: 100%;  /* Inställning som gäller alla bilder */
border-radius: 15px;
transition: all 1s;
}

.imgBox img:hover{
    border-radius: 50px;
}


.imgBox img{
    /* Inställningar som gäller alla bilder som ligger i en låda som tillhör klassen imgBox */
    height: 100%;
    object-fit: cover;
}

@media(min-width:600px){

  nav{
       grid-template-columns: 1fr 1fr;
        place-items: center;

    }

    main{
        
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            gap: 20px;

    }




}

body{
    margin: 8px;
}

footer{
    border: 3px solid#10153a;
}

.sagiMain{
    
}


