 *{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(204, 202, 202);
    scroll-behavior: smooth;
    background-color: rgb(53, 52, 52);
 }


header, main, footer, nav{

border: 1px solid black;
padding: 3%;
min-height: 10vh;

}

main{
   

}
.sagiMain{
 /* klass för main-elementet på sidan sagi.html */
}
nav{

    display: grid;
    gap: 30px;
}


header{

    text-align: center;
}


.card, .imgBox{

    padding: 1.5%;
    border: 1px solid rgb(27, 27, 27);
}
.imgBox{
    aspect-ratio: 1/1;
}

.card{
    text-align: center;
}

img{
width: 100%;  /* Inställning som gäller alla bilder */
}


.imgBox img{
    /* Inställningar som gäller alla bilder som ligger i en låda som tillhör klassen imgBox */
    height: 100%;
    object-fit: cover;
}

@media(min-width:600px){

  nav{
       grid-template-columns: 1fr 1fr;
        place-items: center;

    }

    main{
        
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            gap: 20px;

    }




}

  



