<link rel="stylesheet" href="style.css">
    <main class ="solar">
    

    <h2 class = "solartitle">Explore our solar system</h2>
        <div class="card">

          <a href="#" hx-get="comp/mars.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="mercury.jpg" alt="">
            </div>
             <h3>Mercury</h3>
            </a>
        </div>
            
         <div class="card">

          <a href="#" hx-get="comp/mars.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="venus.jpg" alt="">
            </div>
             <h3>Venus</h3>
            </a>
        </div>

         <div class="card">

          <a href="#" hx-get="comp/mars.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="earth.jpg" alt="">
            </div>
                <h3>Earth</h3>
            </a>
        </div>

        <div class="card">

          <a href="#" hx-get="comp/mars.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="mars.jpg.jpg" alt="">
            </div>
                <h3>MARS</h3>
            </a>
        </div>

        <div class="card">

          <a href="#" hx-get="comp/mars.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="jupiter.jpg" alt="">
            </div>
                <h3>Jupiter</h3>
            </a>
        </div>

        <div class="card">

          <a href="#" hx-get="comp/mars.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="saturn.jpg" alt="">
            </div>
                <h3>Saturn
                </h3>
            </a>
        </div>

        <div class="card nLast">

          <a href="#" hx-get="comp/mars.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="uranus.jpg" alt="">
            </div>
                <h3>Uranus
                </h3>
            </a>

        </div>

        <div class="card last">

          <a href="#" hx-get="comp/mars.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="neptune.jpg" alt="">
            </div>
                <h3>Neptune
                </h3>
            </a>
        </div>
    </main>

    

