<main class ="solar">
    

    <h2 class = "solartitle">STARS</h2>
        <div class="card">

          <a href="#" hx-get="comp/heartneb.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="heartneb.jpg" alt="">
            </div>
             <h3>Heart & Soul Nebula</h3>
            </a>
        </div>

        <div class="card">

          <a href="#" hx-get="comp/crabneb.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="crabneb.jpeg" alt="">
            </div>
             <h3>Crab Nebula</h3>
            </a>
        </div>

         <div class="card">

          <a href="#" hx-get="comp/west.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="west.png" alt="">
            </div>
             <h3>Westerlund 2 Star Cluster</h3>
            </a>
        </div>
        <div class="card">

          <a href="#" hx-get="comp/taran.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="taran.png" alt="">
            </div>
             <h3>Tarantula Nebula (Westerlund 2 Region View)</h3>
            </a>
        </div>
        <div class="card">

          <a href="#" hx-get="comp/orion.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="orion.png" alt="">
            </div>
             <h3>Orion Nebula</h3>
            </a>
        </div>

        <div class="card">

          <a href="#" hx-get="comp/pilar.html" hx-target="main" hx-swap ="outerHTML">
            <div>
                <img src="hubble-pilars.png" alt="">
            </div>
             <h3>Pillars of Creation (Eagle Nebula)</h3>
            </a>
        </div>
    </main>